.blog-page{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog-header-image {
    width: 100%;
    object-fit: none;
    height: 16rem;
    left: 0;
    top: 0;
    position:absolute;
    z-index: -1;
}

.home-name {
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-self: center;
    font-family: 'Aliens';
}

.blog-body{
    width: 70%;
    align-self: center;
}

.image-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.exp-image{
    width: 30vw;
    height: auto;
}

#word-cloud{
    width: 80vw;
    height: auto;
}